Control Flow Programs

In [ ]:
num = int(input("enter a number : "))

if num < 0 :
  print("the number is negative ")

else :
  print("the number is positive")

enter a number : 5
the number is positive

In [ ]:
age = int(input("enter the age : "))

if age >= 18 :
  print(" you are eligible to vote")

else:
  print("you are not eligible to vote")

enter the age : 25
 you are eligible to vote

In [ ]:
num1 = int(input("enter the first number : "))
num2 = int(input("enter the second number : "))

if num1 > num2 :
  print("the maximum number : ",num1)

else:
  print("the maximum number : ",num2)

enter the first number : 3
enter the second number : 5
the maximum number :  5

In [ ]:
def leap_y(year):

  if (year % 4 == 0 and year % 100 != 0) or ( year % 400 == 0):
    return True

  else:
    return False

year = int(input("enter the year : "))

if leap_y(year):
  print(f"{year} is a leap year")

else:
  print(f"{year} is not a leap year")

enter the year : 2012
2012 is a leap year

In [ ]:
char = input("enter the character : ")

if char in "aeiouAEIOU":
  print("the character is a vowel")

else:
  print("the character is a consonant")

enter the character : w
the character is a consonant

In [ ]:
num = int(input("enter the number : "))

if num % 2 == 0 :
  print("the number is even")

else :
  print("the number is odd")

enter the number : 13
the number is odd

In [ ]:
def c_abs(number):

  if number < 0 :
    return -number

  else:
    return number

num = float(input("enter the number : "))

result = c_abs(num)

print(f"the absolute value of {num} is : {result}")

enter the number : -12
the absolute value of -12.0 is : 12.0

In [ ]:
num1 = int(input("enter the first number :"))
num2 = int(input("enter the second number :"))
num3 = int(input("enter the third number : "))

if num1 >= num2 and num1 >= num3 :
  print("\nthe largest number : ",num1)

elif num2 >= num1 and num2 >= num3 :
  print("\nthe largest number : ",num2)

else :
  print("\nthe largest number : ",num3)

enter the first number :12
enter the second number :34
enter the third number : 11

the largest number :  34

In [ ]:
string1 = str(input("enter the string : "))

if string1 == string1[::-1]:
  print("the string is palindrome")

else :
  print("the string is not palindrome")

enter the string : madam
the string is palindrome

In [ ]:
score = int(input("enter the score : "))

if  90 <= score <= 100 :
  print("Grade : A+")

elif 80 <= score <= 90 :
  print("Grade : A")

elif 70 <= score <= 80 :
  print("Grade : B")

elif 60 <= score <= 70 :
  print("Grade : C")

elif score > 100 :
  print("Invalid score")

else :
  print("Grade : D")

enter the score : 78
Grade : B

In [ ]:
num1 = int(input("enter the first number :"))
num2 = int(input("enter the second number :"))
num3 = int(input("enter the third number : "))

if num1 >= num2 and num1 >= num3 :
  print("\nthe largest number : ",num1)

elif num2 >= num1 and num2 >= num3 :
  print("\nthe largest number : ",num2)

else :
  print("\nthe largest number : ",num3)

enter the first number :34
enter the second number :78
enter the third number : 98

the largest number :  98

In [ ]:
side1 = int(input("enter the length of side 1 : "))
side2 = int(input("enter the length of side 2 : "))
side3 = int(input("enter the length of side 3 : "))

if side1 == side2 == side3 :
  print("the triangle is equilateral")

elif side1 == side2 or side2 == side3 or side3 == side1 :
  print("the triangle is isosceles")

else :
  print("the triangle is scalene")

enter the length of side 1 : 34
enter the length of side 2 : 56
enter the length of side 3 : 34
the triangle is isosceles

In [ ]:
def leap_y(year):

  if (year % 4 == 0 and year % 100 != 0) or ( year % 400 == 0):
    return True

  else:
    return False

def cen_year(year):
  if year % 100 == 0:
    return True

  else:
    return False

year = int(input("enter the year : "))

if leap_y(year):
  print(f"{year} is a leap year")

else:
  print(f"{year} is not a leap year")



if cen_year(year):
  print(f"{year} is a century year")

else:
  print(f"{year} is not a century year")

enter the year : 2016
2016 is a leap year
2016 is not a century year

In [ ]:
num = int(input("enter a number : "))

if num < 0 :
  print("the number is negative ")

elif num == 0:
  print("the number is zero")

else:
  print("the number is positive")

enter a number : -4
the number is negative

In [ ]:
teen = int(input("enter the age : "))

if 13 <= teen <= 19 :
  print("the person is a teenager")

else:
  print("the person is not a teenager")

enter the age : 15
the person is a teenager

In [ ]:
angle = float(input("enter the angle : "))

if 0 < angle <= 90 :
  print("It is a acute angle")

elif 90 < angle <= 180 :
  print("It is an obtuse angle")

elif angle == 90 :
  print("It is a right angle")

else:
  print("Invalid angle")

enter the angle : 146.7
It is an obtuse angle

In [ ]:
import math

def root(a,b,c):

  discriminant = b**2 - 4*a*c

  if discriminant >= 0 :

    root1 = ( -b - math.sqrt(discriminant)) / (2*a)
    root2 = ( -b + math.sqrt(discriminant)) / (2*a)

    return root1 , root2

  else :

    real_part = -b / (2*a)
    img_part = math.sqrt(abs(discriminant)) / (2*a)

    root1 = complex(real_part , img_part)
    root2 = complex(real_part , -img_part)

    return root1 , root2

a = float(input("enter coefficient a : "))
b = float(input("enter coefficient b : "))
c = float(input("enter coefficient c : "))

roots = root(a,b,c)

print("the roots of the quadratic equations are : ",roots)

enter coefficient a : 3
enter coefficient b : 12
enter coefficient c : 16
the roots of the quadratic equations are :  ((-2+1.1547005383792515j), (-2-1.1547005383792515j))

In [1]:
num = int(input("enter the day : "))

if num == 1 :
  print("Monday")

elif num == 2 :
  print("Tuesday")

elif num == 3 :
  print("Wednesday")

elif num == 4 :
  print("Thursday")

elif num == 5 :
  print("Friday")

elif num == 6 :
  print("Saturday")

elif num == 7 :
  print("Sunday")

else :
  print("Invalid day")

enter the day : 4
Thursday

In [ ]:
def leap_year(year):
    if (year % 4 == 0 and year % 400 == 0):
        return True
    else:
        return False


year = int(input("Enter a year: "))

# Check if the year is a leap year and evenly divisible by 400
if leap_year(year):
    print(f"{year} is a leap year and evenly divisible by 400.")
else:
    print(f"{year} is not a leap year or not evenly divisible by 400.")

Enter a year: 1600
1600 is a leap year and evenly divisible by 400.

In [ ]:
def prime(number):

  if number < 2 :
    return False

  else :

    for i in range(2, int(number ** 0.5) + 1):

      if number % i == 0:
        return False

    return True

num = int(input("enter the number : "))

if prime(num):
  print(f"{num} is a prime number")

else :
  print(f"{num} is not a prime number")

enter the number : 23
23 is a prime number

In [ ]:
score = int(input("enter the score : "))

if  90 <= score <= 100 :
  print("Grade : A+")

elif 80 <= score <= 90 :
  print("Grade : A")

elif 70 <= score <= 80 :
  print("Grade : B")

elif 60 <= score <= 70 :
  print("Grade : C")

elif score > 100 :
  print("Invalid score")

else :
  print("Grade : D")

enter the score : 56
Grade : D

In [ ]:
angle = float(input("enter the angle : "))

if 0 < angle <= 90 :
  print("It is a acute angle")

elif 90 < angle <= 180 :
  print("It is an obtuse angle")

elif angle == 90 :
  print("It is a right angle")

else:
  print("Invalid angle")

enter the angle : 32
It is a acute angle

In [ ]:
#height in meter
height = float(input("enter the height : "))
weight = float(input("enter the weight : "))

bmi = weight / (height ** 2)

if bmi < 18.5 :
  print("Under weight")

elif 18.5 < bmi <= 24.9 :
  print("normal weight")

elif 25 <= bmi <= 29.9 :
  print("over weight")

else:
  print("Obese")

enter the height : 2
enter the weight : 100
over weight

In [ ]:
num = int(input("enter a number : "))

if num < 0 :
  print("the number is negative ")

elif num == 0:
  print("the number is zero")

else:
  print("the number is positive")

enter a number : 9
the number is positive

In [ ]:
def char_type(char):

  if char.isalpha():

    if char.isupper():
      return "UpperCase"

    elif char.islower():
      return "LowerCase"

  elif char.isdigit():
    return "Digit"

  else:
    return "Special Character"

char = input("enter the character : ")

ct = char_type(char)

print(f"{char} is : {ct}")

enter the character : !
! is : Special Character

In [ ]:
def calci_price(org_prize , pur_amount):

  if pur_amount >= 1000:
    discount = 10

  elif pur_amount >= 500:
    discount = 5

  elif pur_amount >= 200:
    discount = 3

  else:
    discount = 0

  discount_amount = (discount / 100) * org_prize

  discounted_prize = org_prize - discount_amount

  return discounted_prize

org_a = float(input("enter the original price : "))

pur_a = float(input("enter the purchase price : "))

final_p = calci_price(org_a , pur_a)

print("the discounted amount is : ",final_p)

enter the original price : 12000
enter the purchase price : 10000
the discounted amount is :  10800.0

In [ ]:
def elec_bill(units):

  if units <= 50:
    rate_p_u = 2.5

  elif units <= 100:
    rate_p_u = 5.0

  elif units <= 200:
    rate_p_u = 7.5

  elif units <= 300:
    rate_p_u = 10.0

  else:
    rate_p_u = 12.5

  total_bill = units * rate_p_u

  return total_bill

units = float(input("enter the units : "))

bill = elec_bill(units)

print("the total electricity bill  is : ",bill)

enter the units : 231
the total electricity bill  is :  2310.0

In [ ]:
def quad_type( angle1 , angle2 , angle3 , angle4 , side1 , side2 , side3 , side4 ):

  if angle1 + angle2 + angle3 + angle4 == 360:

    if side1 == side2 == side3 == side4 :
      return "Square"

    elif angle1 == angle2 == angle3 == angle4 :

      if side1 == side3 and side2 == side4:
        return "Rectangle"

      else:
        return "Rhombus"

    elif side1 == side2 == side3 == side4 :
      return "parallelogram"

    else:
      return "Quadrilateral"

  else:
    return "Invalid Quadrilateral"

angle1 = float(input("enter the angle 1 : "))
angle2 = float(input("enter the angle 2 : "))
angle3 = float(input("enter the angle 3 : "))
angle4 = float(input("enter the angle 4 : "))

side1 = float(input("\nenter the side 1 : "))
side2 = float(input("enter the side 2 : "))
side3 = float(input("enter the side 3 : "))
side4 = float(input("enter the side 4 : "))

q_type = quad_type(angle1,angle2,angle3,angle4,side1,side2,side3,side4)

print("\nthe type of a quadrilateral is : ",q_type)

enter the angle 1 : 90
enter the angle 2 : 90
enter the angle 3 : 90
enter the angle 4 : 90

enter the side 1 : 12
enter the side 2 : 34
enter the side 3 : 12
enter the side 4 : 34

the type of a quadrilateral is :  Rectangle

In [ ]:
def season(month):

  if month.lower() in ["june" , "july" ,"august","september"]:
    return "Monsoon"

  elif month.lower() in [ "october", "november" ,"december", "january"]:
    return "Winter"

  elif month.lower() in ["february" , "march" , "april" , "may"]:
    return "Summer"

  else:
    return "Invalid Month"

month = input("enter the month : ")

sm = season(month)

print(f"the season in the {month} is : {sm}")

enter the month : march
the season in the march is : Summer

In [ ]:
def leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

def d_month(month, year):
    if month.lower() in ["january", "march", "may", "july", "august", "october", "december"]:
        return 31
    elif month.lower() in ["april", "june", "september", "november"]:
        return 30
    elif month.lower() == "february":
        if leap_year(year):
            return 29
        else:
            return 28
    else:
        return "Invalid Month"


year = int(input("Enter a year: "))
month = input("Enter a month: ")

result1 = "Leap" if leap_year(year) else "Common"
result2 = d_month(month, year)

print(f"\nThe year {year} is a {result1} year.")
print(f"The month of {month.capitalize()} has {result2} days.")

Enter a year: 2028
Enter a month: may

The year 2028 is a Leap year.
The month of May has 31 days.